# Learning Comprehensions
- list comprehensions
- sets comprehensions
- dict comprehensions

### list comprehensions

> syntax
> 
> EXPRESSION for ELEMENT in SEQUENCE if CONDITION

In [16]:
# traditional for in loop
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

double_nums = []
for num in nums:
    double_nums.append(num*2)

double_nums

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [14]:
# comprehensions
double_nums = [ num*2 for num in nums ]
double_nums

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
# taking even numbers and multiply by 2
double_even_nums = [ num*2 for num in nums if num % 2 == 0]
double_even_nums

[4, 8, 12, 16, 20]

In [27]:
def even_num(num):
    return num % 2 == 0

def odd_num(num):
    return num % 2 != 0

def fn_num(num):
    return num**2

In [28]:
double_even_nums = [ fn_num(num) for num in nums if odd_num(num) ]
double_even_nums

[1, 9, 25, 49, 81]

In [32]:
irs = ["roji", "faisal", "guan", "kurnia", "arsi", "fikky", "rahmat", "satrio", "wisnu", "zaenal"]

wong_jowo = [ engineer.upper()  for engineer in irs if 'o' in engineer]
wong_jowo

['ROJI', 'SATRIO']

## Dict Comprehensions

In [42]:
# create a new dicionary with comprehensions
# one liners
nums = {
    'a': 10,
    'b': 20,
    'c': 30,
    'd': 33,
    'e': 37
}

new_nums = { k.upper():v**2 for k, v in nums.items() if v % 2 != 0}
new_nums

{'D': 1089, 'E': 1369}

In [43]:
# tradisional
new_nums = dict()
for k, v in nums.items():
    if v % 2 != 0:
        new_nums[k.upper()] = v**2

new_nums

{'D': 1089, 'E': 1369}

In [49]:
## dict dari 2 list
families = ["ayah", "ibu", "kakak"]
ages = [32, 28, 8]

# dt_family = {
#     'ayah': 32,
#     'ibu': 28,
#     'kakak': 8
# }

# fa = zip(families, ages)
# list(fa)

dt_families_ages = { name:age for name, age in zip(families, ages) }
dt_families_ages

{'ayah': 32, 'ibu': 28, 'kakak': 8}